<h1>ABOUT ME...</h1>
<p>Recently acquited for seven counts of petty theft!  Amateur potter and friend to the friendless.<br><br>

Technico-computery skills?  Yeah, I've got em.  Just <b>feast</b> your eyes on this website!  
</p>
