<h1>Craigtacular!</h1>
<p>Friends, colleagues, State-appointed psychologist, lawyers, executor of the state, and heirs to my will<br><br>

If you're you're reading this, it means that the countdown on my doomsday device was triggered, and you now have 7 hours to solve the riddle herein to stop its deployment.....</p>
